header {
  text-align:center;
  background-color: green;
  color: white;
  padding: 20px;
}

h1 {
  font-style:italic;
  font-size: 70px;
}

h2 {
  font-style: italic;
  font-size:50px;
}

body {
  background-color: yellow;
  padding:20px;
}

main {
  font-size:40px;
  text-align:center;
  width: 700px;
  float: right;
  padding: 10px;
}

footer {
  font-size:1rem;
  text-align:right;
  clear: both;
  padding: 20px;
}

strong {
  font-size:25px;
  color: red;
}

p {
  font-family: 'Oswald', sans-serif;
  color: teal;
}

nav {
  text-align:center;
  background-color: orange;
  font-size:20px;
}

ol{
  font-size:20px;
  color: red;
  text-align:left;
  font-family: 'Bree Serif', serif;
  padding:10px;
}

h3 {
  color:#ff00b9;
  font-size:30px;
}
u{
  color:deepskyblue
}
